body {
  font-family: Arial, sans-serif;
  background: #4B006E;
  text-align: center;
  padding: 40px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
* {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #4B006E;
    
}
input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input:focus {
  border: 1px solid #4B006E;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#qrcode {
  margin: 40px auto 20px auto;
  display: block;
  width: fit-content;
  position: relative;
}
#download-btn {
    display: none;
    /* position: relative; */
    margin-top: 5vh;
    background-color: #BC57E8;
    border-radius: 4px;
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#gen-btn {
    background-color: #BC57E8;
    border-radius: 4px;
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}